{% extends "base.html.twig" %}
{% block title %}Biblioteca{% endblock %}
{% block body %}
    <h1> Biblioteca Personal Andreu Furió </h1>
    <p>
        Pàgina d'Inici<br>
        Projecte Symfony 2n DAW<br>
        Curs 21/22
    </p>

    <ul>
    {% for llibre in llibres %}
        <li><a href="/llibre/{{ llibre.isbn }}">{{ llibre.titol }}</a></li>
    {% endfor %}
    </ul>

    <img src="{{ asset('imgs/llibres.png') }}" class="imatge"/>
{% endblock %}