{% extends "base.html.twig" %}
{% block title %}404{% endblock %}

{% block body %}
    <h1> Biblioteca Personal Andreu Furió </h1>

    <h2>No s'ha trobat</h2>

    <img src="{{ asset('imgs/404.png') }}" style="width: 500px" alt="Error 404" />
{% endblock %}