{% extends "base.html.twig" %}
{% block title %}403{% endblock %}

{% block body %}
    <h1> Biblioteca Personal Andreu Furió </h1>

    <h2>No es tenen permisos suficients</h2>

    <img src="{{ asset('imgs/403.jpg') }}" style="width: 500px; margin: 10px auto;" alt="Error 403" />
{% endblock %}